parameters:
    level: 6
    paths:
        - ./
    excludePaths:
        analyse:
            - vendor
    scanFiles:
        - vendor/yiisoft/yii2/Yii.php
        - vendor/yiisoft/yii2/BaseYii.php
    dynamicConstantNames:
        - YII_DEBUG
        - YII_ENV_TEST
        - YII_ENV_DEV