svg.search-icon {
    vertical-align: -0.125em;
    width: 1em;
}

.search-button {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.search-input {
    border: 1px solid #aaa !important;
    border-top-right-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
    background-color: #f3f3f3;
}

.no-outline,
.no-outline:focus,
.no-outline:active {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.search-widget {
    width: 90%;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    z-index: 5;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}

.search-result.focus {
    -webkit-box-shadow: inset 0px 0px 0px 1px gray;
    -moz-box-shadow: inset 0px 0px 0px 1px gray;
    box-shadow: inset 0px 0px 0px 1px gray;
}

.search-result:hover {
    background-color: #f1f1f1;
}

.match .match-text {
    word-break: break-all;
    white-space: normal;

    line-height: 1.2rem !important;
    min-height: 1.2rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.search-widget::-webkit-scrollbar {
    width: .35rem;
    height: .35rem
}

.search-widget::-webkit-scrollbar-track {
    background: rgb(229, 229, 229)
}

.search-widget::-webkit-scrollbar-thumb {
    background: rgb(198, 198, 198);
}

.search-widget::-webkit-scrollbar-thumb:hover {
    background: rgb(180, 180, 180)
}